<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="GameKillerPurgeSettings" type="CustomConfig.Section, GameProcessPurge" />
  </configSections>  
  <GameProcessPurge>
    <Settings processname="EXCEL" autokilluser="RYZEN\Luke"/>
    <Settings processname="notepad" autokilluser="RYZEN\Luke"/>
    <Settings processname="Dropbox" autokilluser="RYZEN\Luke"/>
    <Settings processname="DropboxUpdate" autokilluser="RYZEN\Luke"/>
    <Settings processname="OneDrive" autokilluser="RYZEN\Luke"/>
    <Settings processname="SpiderOakONE" autokilluser="RYZEN\Luke"/>
    <Settings processname="GoogleUpdate" autokilluser="RYZEN\Luke"/>
  </GameProcessPurge>
</configuration>